body {
  background-color: hsl(0, 3%, 42%);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90vh;
}

.wrapper {
  border: 5px solid hsl(0, 0%, 20%);
  background-color: hsl(0, 0%, 20%);
  margin: auto;
  max-width: 650px;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  height: auto;
  flex-direction: column;
  border-radius: 20px;
  box-shadow: 0px 0px 20px purple;
  padding: 30px 20px;
}

#btn {
  font-size: 1.5rem;
  padding: 17px;
  border: none;
  border-radius: 20px;
  color: hsl(0, 100%, 90%);
  background-color: hsl(310, 100%, 42%);
  cursor: pointer;
  margin-top: 20px;
  transition: scale 0.1s ease-in-out, background-color 0.05s ease-in-out;
}

#btn:hover {
  scale: 96%;
}

#btn:active {
  background-color: hsl(310, 100%, 32%);
}

span {
  font-size: 4rem;
}

#joke {
  font-size: 25px;
  color: azure;
  word-wrap: break-word;
  line-height: 35px;
}

.fade {
  animation: fadeIn 0.6s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
